.App {
  text-align: center;
  min-height: 100vh;
}

body {
  background-color: #1A2040;
  color: white;
}

/* .boda-info{
 
  background-image: url("../src/assets/SpainMapRed.png");
  background-repeat: no-repeat;
  background-position: center ;
  text-align: center;
  min-height: 80vh;
  
} */

h1 {
  color: #E94B50
}

.boda-info {
  text-align: center;
  
}
.toggle-lang a {
 text-decoration: none;
 color: white;
 background-color: #74C1DD;
 padding: 4px;
 border-radius: 8px; 
}
 
table {
  /* margin-top: 20px; 
  margin-left: 20px; */
  /* margin-right: 60px; 
  margin: 20px; */
  
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #F2CD36;
  color: black;
}